/*
.dark {
  background-color: blue;
}
 */

/* BACKGROUND COLOR */
.gradio-container,
.dark .dark\:bg-gray-950 {
  background-color: rgb(86 109 232 / var(--tw-bg-opacity));
}

/*
.dark .dark\:bg-gray-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(0 255 0 / var(--tw-bg-opacity));
}
*/

img {
  /* ff 3.6+ */
  background: -moz-radial-gradient(
    circle at 50% 50%,
    #ffffff 0%,
    #ffffff 43%,
    #ffffff00 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 50% 50%,
    #ffffff 0%,
    #ffffff 43%,
    #ffffff00 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 50% 50%,
    #ffffff 0%,
    #ffffff 43%,
    #ffffff00 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 50% 50%,
    #ffffff 0%,
    #ffffff 43%,
    #ffffff00 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 50% 50%,
    #ffffff 0%,
    #ffffff 43%,
    #ffffff00 100%
  );
}

/* Boxes backgrounds*/
.dark .gr-box,
.dark .gr-button {
  --tw-bg-opacity: 1;
  background-color: rgb(9 3 47 / var(--tw-bg-opacity));
}

/* Submit button color */
.dark .gr-button-secondary {
  /*
  --tw-border-opacity: 1;
  border-color: rgb(75 85 99 / var(--tw-border-opacity));
  */
  --tw-gradient-from: rgb(9 3 47);
  --tw-gradient-to: rgb(9 3 47);
  /*--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #374151;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))*/
}

/* Checkboxes */
.dark .gr-input-label {
  --tw-gradient-from: rgb(9 3 47);
  --tw-gradient-to: rgb(9 3 47);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

/* Tabs */
.dark .bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(9 3 47 / var(--tw-bg-opacity));
}

/*
.dark .gr-button {
    --tw-border-opacity: 1;
    border-color: rgb(75 85 99 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}
*/

.dark .border,
.dark .border-gray-100,
.dark .border-gray-200,
.dark .\!border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(55 65 81 / var(--tw-border-opacity));
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#pw {
  -webkit-text-security: disc;
}
